<!doctype html>

<html>
  <head>
    <style>
      body {background-color: #008080;}
      a {color: #fff;}
      a:hover {color: #000;}
    </style>
  </head>
  <body>
    <h1 align="center">Courses index</h1>
    <table border="2" align="center">
      <thead>
        <tr>
          <th>Course Name</th><th>Description</th><th>Start Date</th>
          <th>End Date</th>
          <th>Approx. Duration</th>
        </tr>
        {% for course in courses %}
        <tr>
          <th><a href="course/{{ course.name }}">{{ course.name }}</a></th>
          <th>{{ course.description }}</th>
          <th>{{ course.start_date }}</th>
          <th>{{ course.end_date }}</th>
          <th>{{ course.calc_approx_duration }}</th>
        </tr>
        {% endfor %}
      </thead>
    </table>
  </body>
</html>
